@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0px;
}

:root {
    --normal-font: 400;
    --bold-font: 600;
    --main-bg-color: #fdfdfd;
    --secondary-bg-color: #f2f2f2;
}

html {
    --height: 100%;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Lato';
}

.side-menu-admin {
    background-color: #1d223e;
    float: left;
    padding: 5% 7px;
    height: 100vh;
}

.side-menu-admin ul {
    list-style-type: none;
    padding: 0;
    
}

.side-menu-admin ul li {
    width: 100%;
    height: 100%;
}

.side-menu-admin ul li a {
    display: block;;
    text-decoration: none;
    color: #fdfdfd;
    --background-color: grey;
    padding: 9px 75px;
    text-align: center;
    --font-weight: bold;
    font-size: large;
}

.side-menu-admin ul li a:hover {
  color: #FFF;
  --padding: 5px 5px;
  background-image: linear-gradient(#7B66FF, #b6adf0);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 3px #888888;
  
}

.container-menu-admin {

    
}

.content-admin {
    float: left;
    padding: 30px;
    margin: 10px 0;
    width: 60%;
}

.btn-action-admin {
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(9deg, blue, #b6adf0);
    padding: 10px;
    font-weight: 540;
    border-radius: 20px;
    color: var(--main-bg-color);
    display: inline-block;
    opacity: 0.8;
    border: 0;
}

.btn-action-admin:hover {
    opacity: 1;
}

.table-admin {
    border-collapse: collapse;
    width: 100%;
}

.table-admin th {
    background-color: #1d223e;
    color: #fff;
    padding: 15px 7px;
    border: 1px solid #ddd;
}

.table-admin td {
    padding: 10px 7px;
    border: 1px solid #ddd;

}

.table-admin tr:nth-child(even) {
    background-color: #EEEEEE;
}

.container-table {
    height: 500px;
    overflow-y:auto;
    width: 100%;
}

#createEditSkill {
    display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
   
}

.modal-content form {
   padding: 15px 5px;;
}
.modal-content .form-input {
    margin: 0px auto;
}
.modal-content form label {
    width: 15%;
    display:inline-block;
}

.modal-content form input[type=text] {
    width: 79%;
    padding: 10px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
    float:right;
}

.modal-content .btn-submit-create-edit {
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(9deg, blue, #b6adf0);
    padding: 10px;
    font-weight: 540;
    border-radius: 20px;
    color: var(--main-bg-color);
    display: block;
    opacity: 0.8;
    width: 40%;
    margin: 15px auto 0px auto;
    border: 0;
}

.modal-content .btn-submit-create-edit:hover {
    opacity: 1;
    cursor: pointer;
}

.modal-header h2 {
    margin: 9px auto;
  --float:left;
    display:inline-block;
    width: 50%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.text-warning-delete {
    text-align: center; 
    padding: 20px 0px;
    font-size: 20px;
}

.container-btn-warning-delete {
    text-align: center;
}

.container-btn-warning-delete form .btn-no-delete, .container-btn-warning-delete form .btn-yes-delete {
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(9deg, blue, #b6adf0);
    padding: 10px;
    font-weight: 540;
    border-radius: 20px;
    color: var(--main-bg-color);
    --display: block;
    opacity: 0.8;
    width: 10%;
    margin: 15px 10px 15px auto;
    border: 0;
}


.container-btn-warning-delete form .btn-no-delete:hover , .container-btn-warning-delete form .btn-yes-delete:hover {
    opacity: 1;
    cursor: pointer;
}


.ck-editor__editable {
    min-height: 400px;
}

.form-data label {
    width: 10%;
    display: inline-block;
    margin-right: 50px;
}
.form-data input[type=text], textarea {
    width: 80%;
    padding: 10px;
}

.form-data textarea {
    width: 97%;
    padding: 10px;
    margin-top: 7px;
}

.form-data .form-input {
    margin-bottom: 15px;
}

.preview-upload {
    margin-top: 15px;
    position: relative;
}

.preview-upload img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: contain;
}

.preview-upload p {
    position: absolute;
    top: 50%;
    left: 50%;
    
}