@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0px;
}

body {
  background-color: #f7f7f7;
  font-family: 'Lato';
}

nav {
  background-color: #ffffff;
  border-bottom: 1px dotted black;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
}

.menu {  
  text-align: center;
  padding: 0px;
}

.menu-items {
  display: inline-block;
}

.link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 20px 5px;
  width: 125px;
}

.link:hover {
  color: #FFF;
  padding: 5px 5px;
  background-image: linear-gradient(#7B66FF, #b6adf0);
  border-radius: 25px;
  --border: 1px solid #888888;
  box-shadow: 3px 3px #888888;
}

.theme-switcher-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
  box-shadow: 2px 3px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 50%
}

.article-container {
    width: 560px;
    margin: 15px auto;
    padding: 15px;
    background-color: #FFF;
    border-radius:2px;
    overflow: hidden;
}

.paragraph-container {
    display: inline-block;
    padding: 0px 12px;
}

.title {
    text-decoration: none;
    color: #000;
}

.title:hover {
    color: #7B66FF;
}

img {
  border-radius: 8px;
  float: left;
}

small {
  color:#45474B;
}

.darker-background {
  background-color: #161A30;
}

.dark-background {
  background-color: #31304D;
  color: #FFF;
}

.intro {
  display: inline-block;
  height: 25%;
  width: 100%;
  background-color: #FFF;
  padding: 10% 0px; 
}

.intro h1 {
  /* display: block; */
  text-align: center;
  font-size: 4em;
}

.ability {
  display: inline-block;
  height: 25%;
  width: 100%;
  background-color: #FFF;
  padding: 10% 0px; 
}

.ability h1 {
  /* display: block; */
  text-align: center;
  font-size: 4em;
}

.portfolio {
  display: inline-block;
  height: 25%;
  width: 100%;
  background-color: #FFF;
  padding: 10% 0px; 
}

.portfolio h1 {
  /* display: block; */
  text-align: center;
  font-size: 4em;
}

.writing {
  display: inline-block;
  height: 25%;
  width: 100%;
  background-color: #FFF;
  padding: 10% 0px; 
}

.writing h1 {
  /* display: block; */
  text-align: center;
  font-size: 4em;
}