@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0px;
}

:root {
  --normal-font: 400;
  --bold-font: 600;
  --main-bg-color: #fdfdfd;
  --secondary-bg-color: #f2f2f2;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Lato';
}

nav {
  background-color: var(--secondary-bg-color);
  border-bottom: 1px dotted black;
  top: 0px;
  position: -webkit-sticky; /*untuk safari browser*/
  position: sticky;
}

.menu {  
  text-align: center;
  padding: 12px;
}

.menu-items {
  display: inline-block;
}

.link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  width: 125px;
  font-size: 1rem;
  font-weight: var(--bold-font);
}

.link:hover {
  color: #FFF;
  --padding: 5px 5px;
  background-image: linear-gradient(#7B66FF, #b6adf0);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 3px #888888;
}

.theme-switcher {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
  box-shadow: 2px 3px;
  border: 1px solid black;
  padding: 11px;
  border-radius: 50%;
  background-color: #fdfdfd;
}

.theme-switcher:hover {
  cursor: pointer;
}

.article-container {
    width: 560px;
    margin: 15px auto;
    padding: 15px;
    border-radius:2px;
    overflow: hidden;
}

.paragraph-container {
    display: inline-block;
    padding: 0px 12px;
}

.title {
    text-decoration: none;
    color: #000;
}

.title:hover {
    color: #7B66FF;
}

img {
  border-radius: 8px;
  float: left;
}

small {
  color:#45474B;
}

body.dark-background {
  background-color: #1d223e;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  margin-top: 4px;
  background-color: #020202;
  width: 25px;
  height: 4px;
}

/* body.dark-background .ability, body.dark-background .contact-me {
  background-color: #202646;
} */

body.dark-background h1 {
  color: #FBF6EE;
}

body.dark-background .theme-switcher {
  background-color: #B6BBC4;
}

body.dark-background nav {
  background-color: #31304d;
  --color: #FFF;
}

body.dark-background a {
  color: #F3F8FF;
}

body.dark-background .intro {
  color: #F3F8FF;
}

body.dark-background footer {
  
  background-color: #141729;
  color: #F3F8FF;
}

body.dark-background .portfolio p {
  color: #F3F8FF;
}

footer {
  
  background-color: #31304d;background-color: var(--secondary-bg-color);
  padding: 1rem;
  text-align: center;
}

.intro {
  display: inline-block;
  height: 25%;
  width: 100%;
  padding-top: 10%; 
}

.intro h1 {
  /* display: block; */
  text-align: center;
  font-size: 3.5em;
}


.profile p{
  text-align: justify;
  font-size: large;
}

.profile img{
  width: 20rem;
  object-fit: cover;
}

.profile {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
  align-items: center;
  padding: 5rem 7rem;
}

.ability {
  padding: 5% 0;
  display: inline-block;
  height: 25%;
  width: 100%;
}

.ability h1 {
  /* display: block; */
  text-align: center;
  font-size: 4em;
  margin-bottom: 1rem;
}

.ability ul {
  text-align: center;
  padding: 0;
}

.ability li {
  background-image: linear-gradient(9deg, blue, #b6adf0);
  padding: 10px;
  font-weight: 540;
  border-radius: 20px;
  color: var(--main-bg-color);
  display: inline-block;
  margin: 0 1rem;
  width: 10%;
}

.portfolio {
  display: inline-block;
  height: 25%;
  width: 100%;
  padding: 10% 0px; 
}

.portfolio h1 {
  /* display: block; */
  text-align: center;
  font-size: 4em;
}

.portfolio h3 {
  text-align: center;
}

.writing {
  display: inline-block;
  height: 25%;
  width: 100%;
  padding: 10% 0px; 
}

.writing h1 {
  /* display: block; */
  text-align: center;
  font-size: 4em;
}

.card-holder {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.card {
  padding: 3rem 5rem;
}

.card-holder img{
  width: 100%;
  margin-bottom: 1rem;
}

.card-holder p {
  margin-top: 1rem;
  text-align: justify;
  display: inline-block;
  font-size: 0.9rem;
}

a.btn-portfolio-lainnya {
  grid-column: 2/3;
  margin:0 auto;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  width: 125px;
  font-weight: 540;
  font-size: 1rem;
  --background-color: blue;
  background-image: linear-gradient(9deg, blue, #b6adf0);
  border-radius: 20px;
  opacity: 0.8;
}

a.btn-portfolio-lainnya:hover {
  opacity: 1;
}

.contact-me {
  padding-bottom: 5%;
  
}

.contact-me div {
  width: 20rem;
  margin: 0 auto;
}

.contact-me h1 {
  text-align: center;
}

.contact-me img {
  width: 33px;
  margin-right: 10px;
}

body.dark-background .portfolio h3, body.dark-background .info {
  color: #F3F8FF;
}

@media screen and (max-width: 768px) {

  .menu-container {
    float: left;
    width: 100%;
  }
  
  .hamburger {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin: 1rem;
    --padding: 1rem;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .menu {
    width: 100%;
    padding: 0px;
  }

  .menu-items {
    display: block; 
  }

  .link {
    width: 70%;
    margin: 0.8rem auto;
    text-align: center;
    display: none;
  }

  .link-shown {
    display: block;
  }

  .link:hover {
    --padding: 0px;
  }

  .profile {
    display: block;
    padding: 1.6rem;
  }

  .profile img {
    padding: 1rem;
    margin: 0 auto;
  }
  
  .ability li {
    display: block;
    width: 45%;
    margin: 1rem auto;
  }

  .card-holder {
    display: block;
  }

  body.dark-background .bar {
    background-color: #f2f2f2;
  }
  
}