@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
  margin: 0px;
}

body {
  background-color: #f7f7f7;
}

nav {
  background-color: #ffffff;
  border-bottom: 1px dotted black;
  position: sticky;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ul {  
  text-align: center;
  padding: 0px;
}

li {
  display: inline-block;
}

.menu {
  display: block;
  text-decoration: none;
  color: black;
  padding: 20px 5px;
  width: 100px;
}

.menu:hover {
  color: #1F1717;
  color: #FFF;
  -- text-decoration: underline;
  
  background-color: #7B66FF;

  /*
  border-top: 1px dotted black;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  border-radius: 35px 35px 0px 0px;
  */
}

.article-container {
    width: 560px;
    margin: 15px auto;
    padding: 15px;
    background-color: #FFF;
    border-radius:2px;
    overflow: hidden;
}

.paragraph-container {
    display: inline-block;
    padding: 0px 12px;
}

a.title {
    text-decoration: none;
    color: #000;
}

a.title:hover {
    color: #7B66FF;
}

img {
  border-radius: 8px;
  float: left;
}

small {
  color:#45474B;
}

.darker-background {
  background-color: #161A30;
}

.dark-background {
  background-color: #31304D;
  color: #FFF;
}